@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #e7c87f;
  --text: #fff
}

.playwrite-it-moderna {
  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /* outline: 1px solid red */
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold
  }
  h5 {
    @apply text-xl font-semibold
  }
  h6 {
    @apply text-lg font-medium
  }
  p {
    @apply text-xl
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
